# Endereço do Servidor MySQL
DB_HOST = localhost
# Porta padrão do MYSQL
DB_PORT = 3306
# Usuário utilizando para acessar o banco.
DB_USER = root
#Senha do MYSQL
DB_PASSWORD = 
# Nome do banco de dados criando no workbench
DB_NAME = biblioteca_db